################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/obj/Release
/.vs/KnightsAndWarlocks/v15
/.vs
